@font-face {
  font-family: 'Candara';
  src: url('/fonts/candara_font-webfont.woff2') format('woff2'), url('/fonts/candara_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply h-full overflow-hidden;
}

p {
  @apply mb-1;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[type='file'],
[multiple],
textarea,
select {
	@apply bg-white shadow-none text-sm;
}

.btn-filled-primary,
.btn-filled-accent,
.btn-filled-warning,
.btn-filled-surface {
  @apply !text-white;
}

.card {
  @apply ring-0 rounded-none;
}

