:root {
  /* =~= Theme Styles =~= */
	--theme-border-base: 1px;
	--theme-font-family-heading: Raleway, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-base: Raleway, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: var(--color-surface-900);
	--theme-font-color-dark: var(--color-surface-50);
	--theme-rounded-base: 4px;
	--theme-rounded-container: 8px;
	/* =~= Theme Colors | Tailwind =~= */
  /* ~ primary (#A278BB) ~ */
  --color-primary-50: 250 248 252; /* ⬅ #faf8fc */
  --color-primary-100: 243 238 246; /* ⬅ #f3eef6 */
  --color-primary-200: 232 221 238; /* ⬅ #e8ddee */
  --color-primary-300: 213 194 224; /* ⬅ #d5c2e0 */
  --color-primary-400: 171 133 193; /* ⬅ #ab85c1 */
  --color-primary-500: 162 120 187; /* ⬅ #a278bb */
  --color-primary-600: 92 56 112; /* ⬅ #5c3870 */
  --color-primary-700: 67 41 81; /* ⬅ #432951 */
  --color-primary-800: 39 24 47; /* ⬅ #27182f */
  --color-primary-900: 19 12 24; /* ⬅ #130c18 */
  /* ~ accent (#6366f1) ~ */
  --color-accent-50: 250 250 250; /* ⬅ #fafafa */
	--color-accent-100: 245 245 245; /* ⬅ #f5f5f5 */
	--color-accent-200: 229 229 229; /* ⬅ #e5e5e5 */
	--color-accent-300: 212 212 212; /* ⬅ #d4d4d4 */
	--color-accent-400: 163 163 163; /* ⬅ #a3a3a3 */
	--color-accent-500: 115 115 115; /* ⬅ #737373 */
	--color-accent-600: 82 82 82; /* ⬅ #525252 */
	--color-accent-700: 64 64 64; /* ⬅ #404040 */
	--color-accent-800: 38 38 38; /* ⬅ #262626 */
	--color-accent-900: 23 23 23; /* ⬅ #171717 */
  /* ~ ternary (#eab308) ~ */
  --color-ternary-50: 255 252 245; /* ⬅ #fffcf5 */
  --color-ternary-100: 254 248 230; /* ⬅ #fef8e6 */
  --color-ternary-200: 253 241 206; /* ⬅ #fdf1ce */
  --color-ternary-300: 252 230 166; /* ⬅ #fce6a6 */
  --color-ternary-400: 249 206 78; /* ⬅ #f9ce4e */
  --color-ternary-500: 226 172 8; /* ⬅ #e2ac08 */
  --color-ternary-600: 162 123 6; /* ⬅ #a27b06 */
  --color-ternary-700: 118 90 4; /* ⬅ #765a04 */
  --color-ternary-800: 69 52 2; /* ⬅ #453402 */
  --color-ternary-900: 34 26 1; /* ⬅ #221a01 */
  /* ~ warning (#f43f5e) ~ */
  --color-warning-50: 254 245 247; /* ⬅ #fef5f7 */
  --color-warning-100: 254 231 235; /* ⬅ #fee7eb */
  --color-warning-200: 252 207 214; /* ⬅ #fccfd6 */
  --color-warning-300: 250 168 182; /* ⬅ #faa8b6 */
  --color-warning-400: 245 81 109; /* ⬅ #f5516d */
  --color-warning-500: 222 13 48; /* ⬅ #de0d30 */
  --color-warning-600: 159 9 34; /* ⬅ #9f0922 */
  --color-warning-700: 116 7 25; /* ⬅ #740719 */
  --color-warning-800: 67 4 15; /* ⬅ #43040f */
  --color-warning-900: 34 2 7; /* ⬅ #220207 */
  /* ~ surface (neutral | #737373) ~ */
	--color-surface-50: 250 250 250; /* ⬅ #fafafa */
	--color-surface-100: 245 245 245; /* ⬅ #f5f5f5 */
	--color-surface-200: 229 229 229; /* ⬅ #e5e5e5 */
	--color-surface-300: 212 212 212; /* ⬅ #d4d4d4 */
	--color-surface-400: 163 163 163; /* ⬅ #a3a3a3 */
	--color-surface-500: 115 115 115; /* ⬅ #737373 */
	--color-surface-600: 82 82 82; /* ⬅ #525252 */
	--color-surface-700: 64 64 64; /* ⬅ #404040 */
	--color-surface-800: 38 38 38; /* ⬅ #262626 */
	--color-surface-900: 23 23 23; /* ⬅ #171717 */
}

.theme-chamanisme {
  /* ~ primary (#A2C86C) ~ */
	--color-primary-50: 250 252 248; /* ⬅ #fafcf8 */
	--color-primary-100: 243 248 236; /* ⬅ #f3f8ec */
	--color-primary-200: 231 241 218; /* ⬅ #e7f1da */
	--color-primary-300: 213 230 188; /* ⬅ #d5e6bc */
	--color-primary-400: 170 205 121; /* ⬅ #aacd79 */
	--color-primary-500: 162 200 108; /* ⬅ #a2c86c */
	--color-primary-600: 91 123 45; /* ⬅ #5b7b2d */
	--color-primary-700: 66 89 33; /* ⬅ #425921 */
	--color-primary-800: 38 52 19; /* ⬅ #263413 */
	--color-primary-900: 19 26 10; /* ⬅ #131a0a */
}

.theme-general {
  /* ~ primary (#A278BB) ~ */
  --color-primary-50: 250 248 252; /* ⬅ #faf8fc */
  --color-primary-100: 243 238 246; /* ⬅ #f3eef6 */
  --color-primary-200: 232 221 238; /* ⬅ #e8ddee */
  --color-primary-300: 213 194 224; /* ⬅ #d5c2e0 */
  --color-primary-400: 171 133 193; /* ⬅ #ab85c1 */
  --color-primary-500: 162 120 187; /* ⬅ #a278bb */
  --color-primary-600: 92 56 112; /* ⬅ #5c3870 */
  --color-primary-700: 67 41 81; /* ⬅ #432951 */
  --color-primary-800: 39 24 47; /* ⬅ #27182f */
  --color-primary-900: 19 12 24; /* ⬅ #130c18 */
}

.theme-reiki {
  /* ~ primary (#F1DB43) ~ */
  --color-primary-50: 254 253 246; /* ⬅ #fefdf6 */
  --color-primary-100: 253 250 231; /* ⬅ #fdfae7 */
  --color-primary-200: 251 246 208; /* ⬅ #fbf6d0 */
  --color-primary-300: 249 238 170; /* ⬅ #f9eeaa */
  --color-primary-400: 242 221 84; /* ⬅ #f2dd54 */
  --color-primary-500: 241 219 67; /* ⬅ #f1DB43 */
  --color-primary-600: 157 137 12; /* ⬅ #9d890c */
  --color-primary-700: 114 100 9; /* ⬅ #726409 */
  --color-primary-800: 66 58 5; /* ⬅ #423a05 */
  --color-primary-900: 33 29 2; /* ⬅ #211d02 */
}

.theme-reves {
  /* ~ primary (#C86C99) ~ */
  --color-primary-50: 252 248 250; /* ⬅ #fcf8fa */
  --color-primary-100: 248 236 242; /* ⬅ #f8ecf2 */
  --color-primary-200: 241 218 229; /* ⬅ #f1dae5 */
  --color-primary-300: 230 188 208; /* ⬅ #e6bcd0 */
  --color-primary-400: 205 121 162; /* ⬅ #cd79a2 */
  --color-primary-500: 200 108 153; /* ⬅ #c86c99 */
  --color-primary-600: 123 45 83; /* ⬅ #7b2d53 */
  --color-primary-700: 89 33 60; /* ⬅ #59213c */
  --color-primary-800: 52 19 35; /* ⬅ #341323 */
  --color-primary-900: 26 10 18; /* ⬅ #1a0a12 */
}

.theme-tarot {
  /* ~ primary (#C8806C) ~ */
  --color-primary-50: 252 249 248; /* ⬅ #fcf9f8 */
  --color-primary-100: 248 239 236; /* ⬅ #f8efec */
  --color-primary-200: 241 223 218; /* ⬅ #f1dfda */
  --color-primary-300: 230 197 188; /* ⬅ #e6c5bc */
  --color-primary-400: 205 139 121; /* ⬅ #cd8b79 */
  --color-primary-500: 200 128 108; /* ⬅ #c8806c */
  --color-primary-600: 123 62 45; /* ⬅ #7b3e2d */
  --color-primary-700: 89 45 33; /* ⬅ #592d21 */
  --color-primary-800: 52 26 19; /* ⬅ #341a13 */
  --color-primary-900: 26 13 10; /* ⬅ #1a0d0a */
}
